.main__container {
    display: flex;
}

.track__container {
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-count: 2;
}