.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.username {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.username:hover {
    background: gray;
}